# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env/
venv/
.venv/
.env
# IDE
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db

#..?
test
Downloads

/python-web-scraping_plus/audio.m4s
/python-web-scraping_plus/video.m4s
/python-web-scraping_plus/.env
